resouces/atc_lab-2006-05.xsd

<?xml version='1.0'?>

<xs:schema 
      xmlns:xs='http://www.w3.org/2001/XMLSchema' 
      targetNamespace='http://www.humanfactors.uq.edu.au/atc/2006/atc-ns'
      xmlns:atc='http://www.humanfactors.uq.edu.au/atc/2006/atc-ns'
      attributeFormDefault='qualified'
      elementFormDefault='qualified'
  >

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Documentation
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:annotation>
    <xs:documentation>
      <![CDATA[
      @project  : ATC-Lab

      @file     : $RCSfile$
      @author   : $Author$
      @version  : $Name$ ( $Revision$ )
      @date     : $Date$
      @state    : $State$

      $Log$

      @copyright  : 2006 ARC Key Center for 
                    Human Factors & Applied Cognitive Psycology
      ]]>
    </xs:documentation>
  </xs:annotation>

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Top level document container element
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='experiment'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:global' minOccurs='0'  />
        <xs:element ref='atc:config'                />
        <xs:element ref='atc:data'                  />
        <xs:element ref='atc:presentation'          />
      </xs:sequence>
      <xs:attributeGroup ref='atc:uniqueID'  />
    </xs:complexType>
  </xs:element>

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <atc:global>
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='global'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element ref='atc:variable' />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name='variable'>
    <xs:complexType>
      <xs:attribute name='name' use='required' type='xs:ID'            />
      <xs:attribute name='type' use='required' type='atc:variableType' />
      <xs:attribute name='init' use='optional' type='xs:int'           />
    </xs:complexType>
  </xs:element>

  <xs:simpleType name='variableType'>
    <xs:restriction base='xs:NCName'>
      <xs:enumeration value='int'     />
    </xs:restriction>
  </xs:simpleType>

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        <atc:config> type definition
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='config'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:biopac'         minOccurs='0' />
        <xs:element ref='atc:units' />
        <xs:element ref='atc:aircraftParams' minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:instruction'    minOccurs='0' maxOccurs='unbounded' />
        <xs:group   ref='atc:ui_component'   minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:input'          minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:display'        minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='biopac' />

  <xs:element name='units'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='input' type='xs:token'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Reusable Top Level UI elements
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <!-- 
        ~~~~~  top level UI components  ~~~~~
  -->
    
  <xs:group name='ui_component'>
    <xs:choice>
      <xs:element name='hbox'               type='atc:boxDef'/>
      <xs:element name='vbox'               type='atc:boxDef'/>
      <xs:element name='choice_question'    type='atc:choiceQuestionDef' />
      <xs:element name='scale_question'     type='atc:scaleQuestionDef' />
      <xs:element name='multi_question'     type='atc:multiQuestionDef' />
      <xs:element ref='atc:validated_question' />
    </xs:choice>
  </xs:group>
  
  <!-- 
        ~~~~~  hbox/vbox definition  ~~~~~
  -->

  <xs:complexType name='boxDef'>
    <xs:group ref='atc:ui_widget' minOccurs='0' maxOccurs='unbounded' />
    <xs:attribute name='id' type='xs:ID' />
  </xs:complexType>

  <!-- 
        ~~~~~  scaled question definitions  ~~~~~
  -->

  <xs:complexType name='baseQuestionDef'>
    <xs:sequence>
      <xs:element name='text' type='xs:string'/>
      <xs:element name='label' minOccurs='0' maxOccurs='unbounded' type='xs:string' />
    </xs:sequence>
    <xs:attributeGroup ref='atc:uniqueID' />
  </xs:complexType>

  <xs:complexType name='choiceQuestionDef'>
    <xs:complexContent>
      <xs:extension base='atc:baseQuestionDef'>
        <xs:sequence>
          <xs:element name='choice' maxOccurs='unbounded' type='atc:choiceItemDef' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='choiceItemDef'>
    <xs:simpleContent>
      <xs:extension base='xs:string'>
        <xs:attribute name='value' type='xs:int' />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name='scaleQuestionDef'>
    <xs:complexContent>
      <xs:extension base='atc:baseQuestionDef'>
        <xs:sequence>
          <xs:element name='scale' type='atc:integerScaleDef' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='multiQuestionDef'>
    <xs:complexContent>
      <xs:extension base='atc:scaleQuestionDef'>
        <xs:sequence>
          <xs:element name='question' minOccurs='2' maxOccurs='unbounded' type='xs:string' />
          <xs:element name='number' minOccurs='0' />
          <xs:element name='answer_all' minOccurs='0' />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name='integerScaleDef'>
    <xs:attribute name='min' type='xs:integer' />
    <xs:attribute name='max' type='xs:integer' />
  </xs:complexType>

  <xs:element name='validated_question'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='text' type='xs:string' />
        <xs:element ref='atc:int_validator' />
        <xs:element ref='atc:link' minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <xs:element name='int_validator' >
    <xs:complexType>
      <xs:sequence>
        <xs:element name='text' type='xs:string' />
      </xs:sequence>
      <xs:attribute name='min' type='xs:int' />
      <xs:attribute name='max' type='xs:int' />
    </xs:complexType>
  </xs:element>

  <xs:element name='link'>
    <xs:complexType>
      <xs:attribute name='global' use='required' type='xs:IDREF' />
    </xs:complexType>
  </xs:element>

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Reusable UI elements
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <!-- 
        ~~~~~  widget definition  ~~~~~
  -->

  <xs:group name='ui_widget'>
    <xs:choice>
      <xs:element ref='atc:label'      />
      <xs:element ref='atc:pushbutton' />
      <xs:element ref='atc:space'      />
      <xs:element ref='atc:stretch'    />
      <xs:element ref='atc:textbox'    />
      <xs:group ref='atc:ui_component' />
      <xs:element ref='atc:ui_component' />
    </xs:choice>
  </xs:group>
    
  <xs:element name='ui_component'>
    <xs:complexType>
      <xs:attributeGroup ref='atc:reference' />
    </xs:complexType>
  </xs:element>

  <!-- 
        ~~~~~  label definition  ~~~~~

        ~~ * currently only allow text to be defined in 'text' attribute
        ~~ * TODO: extend to allow simple content to define text
        ~~ * TODO: also need longer labels that have line breaks (automatic?)
  -->

  <xs:element name='label'>
    <xs:complexType>
      <xs:attribute name='text' type='xs:string' />
    </xs:complexType>
  </xs:element>

  <!-- 
        ~~~~~  pushbutton widget definitions  ~~~~~
  -->

  <xs:element name='pushbutton'>
    <xs:complexType>
      <xs:attributeGroup ref='atc:uniqueID' />
      <xs:attribute name='text' type='xs:string' />
    </xs:complexType>
  </xs:element>

  <!-- 
        ~~~~~  spacing component definitions  ~~~~~
  -->

  <xs:element name='space'>
    <xs:complexType>
      <xs:attribute name='size' default='20' type='xs:int' />
    </xs:complexType>
  </xs:element>

  <xs:element name='stretch' />

  <!-- 
        ~~~~~  textbox widget  ~~~~~
  -->

  <xs:element name='textbox'>
    <xs:complexType>
      <xs:choice>
        <xs:element ref='atc:int_validator' minOccurs='0' maxOccurs='1' />
      </xs:choice>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <!-- 
        ~~~~~  textbox widget validators  ~~~~~
  -->

  <!--  ~~~ integer ~~~
  <xs:element name='int_validator'>
    <xs:complexType>
      <xs:attribute name='minimum' use='required' type='xs:int' />
      <xs:attribute name='maximum' use='required' type='xs:int' />
    </xs:complexType>
  </xs:element>
 -->

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Input Screen Definitions
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='input'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:font' minOccurs='0' />
        <xs:element ref='atc:ui_component'                                     />
        <xs:element ref='atc:connection'   minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <xs:element name='display'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element name='text'         minOccurs='0' maxOccurs='unbounded' type='xs:string' />
        <xs:element ref='atc:link'      minOccurs='0' maxOccurs='unbounded'                  />
        <xs:element ref='atc:countdown' minOccurs='0' maxOccurs='unbounded'                  />
      </xs:choice>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <xs:element name='countdown'>
    <xs:complexType>
      <xs:attribute name='time' use='required' type='xs:long' />
    </xs:complexType>
  </xs:element>

  <xs:element name='dialog'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:font' minOccurs='0' />
        <xs:element name='caption' type='xs:string' />
        <xs:element ref='atc:ui_component'               maxOccurs='unbounded' />
        <xs:element ref='atc:connection'   minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:timer'        minOccurs='0'                       />
        <xs:element ref='atc:pause'        minOccurs='0'                       />
        <xs:element ref='atc:locate'        minOccurs='0'                       />
      </xs:sequence>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <xs:element name='font'>
    <xs:complexType>
      <xs:attribute name='family' default='sans-serif' type='xs:string' />
      <xs:attribute name='pointSize' default='14' type='xs:int' />
      <xs:attribute name='weight' default='50' type='xs:int' />
      <xs:attribute name='italic' default='false' type='xs:boolean' />
    </xs:complexType>
  </xs:element>


<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:aircraftParam> type definition              +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->
  
  <xs:element name='aircraftParams'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='speed' minOccurs='0' type='xs:decimal'/>
        <xs:element name='level' minOccurs='0' type='xs:decimal'/>
        <xs:element name='RoC' minOccurs='0' maxOccurs='unbounded'>
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base='xs:decimal'>
                <xs:attribute name='minLevel' default='0' type='xs:decimal'/>
                <xs:attribute name='maxLevel' default='0' type='xs:decimal'/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:instruction> type definition                +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:element name='instruction'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:font' minOccurs='0' />
        <xs:element name='text'                                         type='xs:string' />
        <xs:element name='keyEvent' minOccurs='0' maxOccurs='unbounded' type='xs:token'  />
      </xs:sequence>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>
  

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~     atc:data
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='data'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:param' minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:map'                 maxOccurs='unbounded' />
        <xs:element ref='atc:sky'   minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:ui'    minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~     atc:param
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='param'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>

        <xs:element name='update_rate'       minOccurs='0' maxOccurs='1' type='xs:unsignedInt'/>
<!--    <xs:element name='update_multiplier' minOccurs='0' maxOccurs='1' type='xs:unsignedInt'/>  -->
        <xs:element name='scenario_tester'   minOccurs='0' maxOccurs='1' type='xs:float'/>

        <xs:element name='horizontal_doms'   minOccurs='0' maxOccurs='1' type='xs:decimal'/>
        <xs:element name='vertical_doms'     minOccurs='0' maxOccurs='1' type='xs:decimal'/>

        <xs:element ref='atc:colours'        />
        <xs:element ref='atc:info_block'     />
        <xs:element ref='atc:select_tools'   />
        <xs:element ref='atc:keyed_tools'    />
        <xs:element ref='atc:initial_tools'  />
        <xs:element ref='atc:scoring'        />

      </xs:choice>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <xs:element name='colours'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element name='conflict_colour'    type='atc:colourType' />
        <xs:element name='cs_none_colour'     type='atc:colourType' />
        <xs:element name='cs_annonced_colour' type='atc:colourType' />
        <xs:element name='cs_accepted_colour' type='atc:colourType' />
        <xs:element name='cs_handoff_colour'  type='atc:colourType' />
        <xs:element name='cs_nomore_colour'   type='atc:colourType' />
        <xs:element name='cs_overout_colour'  type='atc:colourType' />
        <xs:element name='cs_proposed_colour' type='atc:colourType' />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name='colourType'>
    <xs:simpleContent>
      <xs:extension base='xs:string'>
        <xs:attribute name='blink' use='optional' default='false' type='xs:boolean' />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name='info_block'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element name='time' />
        <xs:element name='goal' />
        <xs:element name='score' />
        <xs:element name='tool' />
      </xs:choice>
      <xs:attribute name='position' use='optional' default='BOTTOM' type='atc:gridPosition' />
    </xs:complexType>
  </xs:element>

  <xs:simpleType name='gridPosition'>
    <xs:restriction base='xs:NCName'>
      <xs:enumeration value='TOPLEFT'     />
      <xs:enumeration value='TOP'         />
      <xs:enumeration value='TOPRIGHT'    />
      <xs:enumeration value='LEFT'        />
      <xs:enumeration value='CENTER'      />
      <xs:enumeration value='RIGHT'       />
      <xs:enumeration value='BOTTOMLEFT'  />
      <xs:enumeration value='BOTTOM'      />
      <xs:enumeration value='BOTTOMRIGHT' />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name='select_tools'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element ref='atc:scale' /> 
        <xs:element name='altitude' type='atc:altitude_tool_type' />
        <xs:element name='airspeed' />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name='scale'>
    <xs:complexType>
      <xs:attribute name='position' use='optional' default='TOPLEFT' type='atc:gridPosition' />
      <xs:attribute name='fixed'    use='optional' default='false'   type='xs:boolean'       />
    </xs:complexType>
  </xs:element>

  <xs:complexType name='altitude_tool_type'>
    <xs:attribute name='x' use='optional' type='xs:int' />
    <xs:attribute name='y' use='optional' type='xs:int' />
  </xs:complexType>

  <xs:element name='keyed_tools'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element name='history_tool' type='atc:keyedTool' />
        <xs:element name='srprobe_tool' type='atc:keyedTool' />
        <xs:element name='route_tool'   type='atc:keyedTool' />
        <xs:element name='vector_tool'  type='atc:keyedTool' />
        <xs:element name='brline_tool'  type='atc:keyedTool' />
        <xs:element name='accept_tool'  type='atc:keyedTool' />
        <xs:element name='handoff_tool' type='atc:keyedTool' />
        <xs:element name='pause_tool'   type='atc:keyedTool' />
        <xs:element name='resume_tool'  type='atc:keyedTool' />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name='keyedTool'>
    <xs:attribute name='key' use='required' type='xs:NCName' />
    <xs:attribute name='tag' use='optional' default='---' type='xs:string' />
  </xs:complexType>

  <xs:element name='initial_tools'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element name='srprobe_tool'>
          <xs:complexType>
            <xs:attribute name='toggle' use='optional' default='1' type='xs:positiveInteger' />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name='scoring'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element name='initial'            type='atc:scoredEvent' />
        <xs:element name='hit'                type='atc:scoredEvent' />
        <xs:element name='prior_intervention' type='atc:scoredEvent' />
        <xs:element name='too_late'           type='atc:scoredEvent' />
        <xs:element name='after_conflict'     type='atc:scoredEvent' />
        <xs:element name='false_alarm'        type='atc:scoredEvent' />
        <xs:element name='prior_false_alarm'  type='atc:scoredEvent' />
        <xs:element name='miss'               type='atc:scoredEvent' />
        <xs:element name='correct_rejection'  type='atc:scoredEvent' />
        <xs:element name='missed_acceptance'  type='atc:scoredEvent' />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:complexType name='scoredEvent'>
    <xs:attribute name='value' type='xs:int' />
    <xs:attribute name='audio' type='xs:string' />
    <xs:attribute name='duration' type='xs:int' />
  </xs:complexType>


<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~     atc:map
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='map'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:region'                                             />
        <xs:element ref='atc:location'       minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:location_alias' minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:route'    minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:sector'   minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <xs:element name='region'>
    <xs:complexType>
      <xs:attributeGroup ref='atc:point2dAttributes' />
      <xs:attribute name='x_dim' use='required' type='xs:decimal'/>
      <xs:attribute name='y_dim' use='required' type='xs:decimal'/>
    </xs:complexType>
  </xs:element>

  <xs:element name='location'>
    <xs:complexType>
      <xs:attributeGroup ref='atc:uniqueID' />
      <xs:attributeGroup ref='atc:point2dAttributes' />
      <xs:attribute name='visible' type='xs:string'/>
    </xs:complexType>
  </xs:element>

  <xs:attributeGroup name='locationReference'>
    <xs:attribute name='location' use='required' type='xs:IDREF' />
  </xs:attributeGroup>

  <xs:element name='location_alias'>
    <xs:complexType>
      <xs:attributeGroup ref='atc:uniqueID' />
      <xs:attributeGroup ref='atc:locationReference' />
    </xs:complexType>
  </xs:element>
  

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:route> type definition                      +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:element name='route'>
    <xs:complexType>
      <xs:choice minOccurs='2' maxOccurs='unbounded'>
        <xs:element name='point'    type='atc:point2D' />
        <xs:element name='pointref' type='atc:locationRef' />
      </xs:choice>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  point descriptor group                            ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name='locationRef'>
    <xs:attribute name='location' type='xs:IDREF'/>
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  <atc:sector> type definition                      ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->
  
  <xs:element name='sector'>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base='atc:region2D'>
          <xs:attribute name='status' use='optional' default='non-active' type='atc:activeStatus' />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name='activeStatus'>
    <xs:restriction base='xs:NCName'>
      <xs:enumeration value='active'    />
      <xs:enumeration value='non-active'/>
    </xs:restriction>
  </xs:simpleType>
  
<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~     atc:sky
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='sky'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded' >
        <xs:element ref='atc:aircraft' />
        <xs:element ref='atc:area'     />
        <xs:element ref='atc:conflict' />
      </xs:choice>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>
  
<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~     atc:aircraft
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='aircraft'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:start'      minOccurs='0' />
        <xs:element ref='atc:altitude'   minOccurs='0' />
        <xs:element ref='atc:velocity'   minOccurs='0' />
        <xs:element ref='atc:flightpath'               />
        <xs:element ref='atc:closedpath' minOccurs='0' />
      </xs:sequence>
      <xs:attribute name='idx'  type='xs:NCName' />
      <xs:attribute name='type' type='xs:IDREF'  />
    </xs:complexType>
  </xs:element>

  <xs:element name='start'        type='xs:integer' />

  <xs:element name='acceleration' type='xs:decimal' />
  <xs:element name='altitude'     type='xs:decimal' />
  <xs:element name='ascent'       type='xs:decimal' />
  <xs:element name='velocity'     type='xs:decimal' />

  <xs:element name='flightpath'>
    <xs:complexType>
      <xs:choice minOccurs='2' maxOccurs='unbounded'>
        <xs:element name='point'    type='atc:flightPathPoint' />
        <xs:element name='pointref' type='atc:flightPathPointRef' />
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name='closedpath' />

  <xs:complexType name='flightPathPoint'>
    <xs:group ref='atc:flightPathPointExtension' />
    <xs:attributeGroup ref='atc:point2dAttributes' />
  </xs:complexType>

  <xs:complexType name='flightPathPointRef'>
    <xs:group ref='atc:flightPathPointExtension' />
    <xs:attribute name='location' type='xs:IDREF' />
  </xs:complexType>

  <xs:group name='flightPathPointExtension'>
    <xs:all>
      <xs:element ref='atc:altitude'     minOccurs='0' />
      <xs:element ref='atc:ascent'       minOccurs='0' />
      <xs:element ref='atc:velocity'     minOccurs='0' />
      <xs:element ref='atc:acceleration' minOccurs='0' />
    </xs:all>
  </xs:group>


<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~     atc:area
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='area'>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base='atc:region2D'>
          <xs:attribute name='type' use='required'/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  
<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~     atc:area
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->    

  <xs:element name='conflict'>
    <xs:complexType>
      <xs:choice minOccurs='2' maxOccurs='2'>
        <xs:element name='aircraft'>
          <xs:complexType>
            <xs:attribute name='callsign' type='xs:NCName' />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name='separation' type='xs:decimal' />
    </xs:complexType>
  </xs:element>

<!--
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    UI Definition
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
  
  <xs:element name='ui'>
    <xs:complexType>
      <xs:choice minOccurs='0' maxOccurs='unbounded'>
        <xs:element ref='atc:dialog'     />
        <xs:element ref='atc:connection' />
      </xs:choice>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <xs:element name='connection'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:signal' />
        <xs:element ref='atc:slot' />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='signal'>
    <xs:complexType>
      <xs:simpleContent>
        <!-- @todo: enumeration of valid signals -->
        <xs:extension base='xs:string'>
          <xs:attribute name='tx' type='xs:IDREF'/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name='slot'>
    <xs:complexType>
      <xs:simpleContent>
        <!-- enumeration of valid slots -->
        <xs:extension base='xs:string'>
          <xs:attribute name='rx' type='xs:IDREF'/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name='timer'>
    <xs:complexType>
      <xs:attribute name='interval' type='xs:int' />
      <xs:attribute name='singleShot' use='optional' type='xs:boolean' />
    </xs:complexType>
  </xs:element>

  <xs:element name='pause'>
    <xs:complexType>
      <xs:attribute name='onShow' default='true' type='xs:boolean' />
    </xs:complexType>
  </xs:element>

  <xs:element name='locate'>
    <xs:complexType>
      <xs:attribute name='grid' default='CENTER' type='atc:gridPosition' />
    </xs:complexType>
  </xs:element>


  <!-- ================================================== Presentation Items -->
  <!-- ===================================================================== -->
  
  <xs:element name='presentation'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:phase' maxOccurs='unbounded' />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='phase'>
    <xs:complexType>
      <xs:choice maxOccurs='unbounded'>
        <xs:element name='input'          type='atc:idxrefDef' />
        <xs:element name='display'        type='atc:idxrefDef' />
        <xs:element name='instruction'    type='atc:idxrefDef' />
        <xs:element ref='atc:trial' />
      </xs:choice>
      <xs:attributeGroup ref='atc:uniqueID' />
    </xs:complexType>
  </xs:element>

  <xs:element name='trial'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='atc:keyEvent'  minOccurs='0' maxOccurs='unbounded' />
        <xs:element ref='atc:timeEvent' minOccurs='0'                       />
      </xs:sequence>
      <xs:attributeGroup ref='atc:uniqueID' />
      <xs:attribute name='param' use='required' type='xs:IDREF' />
      <xs:attribute name='map'   use='required' type='xs:IDREF' />
      <xs:attribute name='sky'   use='required' type='xs:IDREF' />
      <xs:attribute name='ui'                   type='xs:IDREF' />
    </xs:complexType>
  </xs:element>

  <xs:element name='keyEvent'  type='xs:token'           />
  <xs:element name='timeEvent' type='xs:positiveInteger' />


<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:idx attribute type definition                 ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:attributeGroup name='uniqueID'>
    <xs:attribute name='idx' use='required' type='xs:ID' />
  </xs:attributeGroup>

  <xs:attributeGroup name='reference'>
    <xs:attribute name='ref' type='xs:IDREF' />
  </xs:attributeGroup>

  <!-- @todo: -->
  <xs:complexType name='idxrefDef' >
    <xs:attribute name='idxref' type='xs:IDREF' />
  </xs:complexType>
  
<!-- 
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Global Attribute Groups
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

  <xs:attributeGroup name='point2dAttributes'>
    <xs:attribute name='x' use='required' type='xs:decimal'/>
    <xs:attribute name='y' use='required' type='xs:decimal'/>
  </xs:attributeGroup>

  <xs:attributeGroup name='arc2dAttributes'>
    <xs:attributeGroup ref='atc:point2dAttributes' />
    <xs:attribute name='r' use='optional' type='xs:decimal'/>
    <xs:attribute name='a' use='optional' type='xs:decimal'/>
  </xs:attributeGroup>

  <xs:attributeGroup name='ellipse2dAttributes'>
    <xs:attributeGroup ref='atc:point2dAttributes' />
    <xs:attribute name='w' use='required' type='xs:decimal'/>
    <xs:attribute name='h' use='required' type='xs:decimal'/>
    <xs:attribute name='a' use='required' type='xs:decimal'/>
  </xs:attributeGroup>

  

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:point2D type definition                      +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name='point2D'>
    <xs:attributeGroup ref='atc:point2dAttributes' />
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:region2D type definition                     +++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:complexType name='region2D'>
    <xs:sequence>
      <xs:group ref='atc:region_descriptor' maxOccurs='unbounded'/>
      <xs:element name='remove' minOccurs='0' maxOccurs='unbounded' type='atc:idxrefDef' />
    </xs:sequence>
    <xs:attributeGroup ref='atc:uniqueID' />
  </xs:complexType>

<!--
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      ++++  atc:region_descriptor group definition            ++++
      ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 -->

  <xs:group name='region_descriptor'>
    <xs:choice>
      <xs:element ref='atc:vertex'  />
      <xs:element ref='atc:arc'     />
      <xs:element ref='atc:ellipse' />
    </xs:choice>
  </xs:group>

  <xs:element name='vertex'>
    <xs:complexType>
      <xs:attributeGroup ref='atc:point2dAttributes' />
    </xs:complexType>
  </xs:element>

  <xs:element name='arc'>
    <xs:complexType>
      <xs:attributeGroup ref='atc:arc2dAttributes' />
    </xs:complexType>
  </xs:element>

  <xs:element name='ellipse'>
    <xs:complexType>
      <xs:attributeGroup ref='atc:ellipse2dAttributes' />
    </xs:complexType>
  </xs:element>


</xs:schema>
